/* 
ATTRIBUTION
All images used belong to:
Markus Spiske - https://500px.com/markusspiske 
Fahim Akhter - https://500px.com/fahimakhter
Yinan Chen - https://500px.com/webmaster85

3 Layouts
1. Less than 600px - one column layout
2. Between 600px and 1200px - two column layout
3. Above 1200px - four column layout
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: dimgray;
}
ul li{
    list-style: none;
    float: left;
    margin-top: 2.5%;
}
img {
    max-width: 90%; 
    border: 4px solid grey;
}
img:hover{
    border: 4px solid;
    box-shadow: 2px 2px 2px darkgrey;
    transition: transform 0.5s ease-in-out;
    transform: rotate(3deg) scale(1.03);
    z-index: 20;
}

@media screen and (min-width: 600px){
    li {/* two column layout*/
        width: 50%;
    }
    img:hover { /*transform of two column layout */
        transform: translate(10px, 2px) skew(2deg, 3deg);
    }
}
@media screen and (min-width: 1200px){
    li { /* four column layout */
        width: 25%;
    }
    img:hover { /*transform of four column layout*/
        transform: scale(1.1);
    }
}
